<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/gold-cc-input/gold-cc-input.html">
<link rel="import" href="../../bower_components/gold-cc-cvc-input/gold-cc-cvc-input.html">
<link rel="import" href="../../bower_components/gold-cc-expiration-input/gold-cc-expiration-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="cards-component">
  <template>
    <style>
      paper-dialog .buttons{
        color: var(--paper-blue-700);
      }      
      iron-icon{
        margin-right: 10px;
      }
      iron-icon.icon-error{
        color: var(--paper-red-400);
      }
      iron-icon.icon-success{
        color: var(--paper-green-600);
      }
      .btn-cancel{
        color: var(--paper-red-500);
      }
    </style>
    <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <h3 style="font-size: 1.92rem;">Agregar tarjeta</h3>
      
      <gold-cc-input></gold-cc-input>
      <gold-cc-cvc-input></gold-cc-cvc-input>
      <gold-cc-expiration-input label="Date"></gold-cc-expiration-input>

      <div class="buttons">
        <paper-button dialog-confirm on-click="closeModals" class="btn-cancel">Cancelar</paper-button>
        <paper-button on-click="addCard">Agregar</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="errorModal" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <p><iron-icon icon="icons:error-outline" class="icon-error"></iron-icon>[[errorString]]</p>
      <div class="buttons">
        <paper-button dialog-confirm>Cerrar</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="exitoModal" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <p><iron-icon icon="icons:check" class="icon-success"></iron-icon>Tarjeta agregada con éxito</p>
      <div class="buttons">
        <paper-button dialog-confirm on-click="closeModals">Aceptar</paper-button>
      </div>
    </paper-dialog>    
  </template>
  <script>
    class CardsComponent extends Polymer.Element {
      static get is() {return 'cards-component'};
      static get properties() {
        return {
        	showModal: Boolean
        }
      }
      static get observers() {
        return [
        	'showModalObserver(showModal)'
        ]
      }
      constructor() {
        super();
        //costructor content
      }
      ready() {
        super.ready();
        //ready content
      }
      connectedCallback() {
        super.connectedCallback();
        //connectedCallback content
      }
      showModalObserver(showModal){
        this.$.modal.open();
      }

    }

    window.customElements.define(CardsComponent.is, CardsComponent);
  </script>
</dom-module>