<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-signin/google-signin.html">

<link rel="import" href="../../bower_components/slate-font-awesome/slate-font-awesome.html">

<!-- <link rel="import" href="../../custom-style/materialize.html">
 -->
<dom-module id="login-component">
  <template>
    <style include="slate-font-awesome">
      :host {
        display: block;
        --drawer-color: #c9c9c9;
        --paper-button: {
          width: 90%;
          margin: 15px auto;
          display: block;
          clear: both;        
        };        
      }
      .center-login {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        min-width: 40%;
      }      
      paper-checkbox.save-session {
        --paper-checkbox-checked-color: var(--paper-blue-500);
        margin: 15px 0 5px 0;
      }
      .card-header {
        background-color: var(--paper-grey-100);
        padding: 5px 25px;
        color: #252525;
      }
      paper-button {
        text-align: center;
        text-transform: none;
      }     
      .button-login {
        background-color: var(--paper-blue-500);
        color: white;
      }
      google-signin {
        width: 90%;
        margin-left: 20px;
      }
      .card-actions {
        text-align: center;
        background-color: var(--paper-grey-200);
      }
    </style>
    <iron-ajax
      id="peticion"
      method="post"
      headers='{"Content-Type":"application/json"}'
      url="https://polython.herokuapp.com/users/login/"
      handle-as="json"
      body='{{formBody}}'
      on-response="createSession">
    </iron-ajax>
    <div class="col s10 offset-s1">
      <paper-card elevation="1" animated-shadow class="center-login">
          <div class="card-header center-align">
            <h4>Ingrese a su cuenta</h4>
          </div>
          <div class="card-content">
            <form>
              <paper-input id="inputUser" label="Usuario" required auto-validate error-message="Usuario inválido" value="{{appUser}}">
                <i class="fa fa-user fa-2x"></i>
                <iron-icon slot="suffix" icon="clear" on-click="__clearUser"></iron-icon>
              </paper-input>
              <paper-input id="inputPass" label="Contraseña" type="{{passType(passToggle)}}" required auto-validate error-message="Contraseña inválida" value="{{appPass}}">
                <i class="fa fa-lock fa-2x"></i>
                <iron-icon slot="suffix" icon="visibility" id="seepass"></iron-icon>
                <iron-icon slot="suffix" icon="clear" on-click="__clearPass"></iron-icon>
              </paper-input>
              <paper-checkbox class="save-session" checked>Recuerdame</paper-checkbox>
              <paper-button raised class="button-login center-align" id="send">Iniciar Sesión</paper-button>
              <google-signin 
                label-signin="Sign-in" 
                width="standar"
                client-id="937312064788-bega5brlj44ul41dkiflvv724mq52qlf.apps.googleusercontent.com"
                is-authorized="{{isAuthorized}}">
              </google-signin>
            </form>
          </div>
          <template is="dom-if" if="{{loading}}">
            <paper-progress indeterminate></paper-progress>
          </template>
          <div class="card-actions" id="containerNotif">
            <paper-toast id="loginNotification" class="fit-bottom" duration="2000"></paper-toast>
          </div>
      </paper-card>
    </div>
    <template is="dom-if" if="{{loading}}">
      <paper-progress indeterminate></paper-progress>
    </template>    
  </template>
  <script>
    class LoginComponent extends Polymer.Element {
      static get is() {return 'login-component'};
      static get properties() {
        return {
          formBody: {
            type: Object,
            computed: 'proccessForm(appUser, appPass)'
          }
          
        }
      }
      static get observers() {
        return [
        ]
      }
      constructor() {
        super();
        this.__enviarFormulario = this.__enviarFormulario.bind(this);
        this.__seePass = this.__seePass.bind(this);
        this.passToggle = true;
      }
      ready() {
        super.ready();
        this.$.loginNotification.fitInto = this.$.containerNotif;
        this.$.send.addEventListener('click', e => this.__enviarFormulario(e));
        this.$.seepass.addEventListener('mousedown', e => this.__seePass(e))
        this.$.seepass.addEventListener('mouseup', e => this.__seePass(e))
      }
      connectedCallback() {
        super.connectedCallback();
        //connectedCallback content
      }
      passType(type) {
        if (type) return 'password';
        return 'text'
      }
      __clearUser() {
        this.appUser = ""
      }
      __clearPass() {
        this.appPass = "";
      }
      __enviarFormulario() {
        if(this.validateInputs() && (!this.res || this.res.warning)) {
          this.$.peticion.generateRequest();
        }
      }
      __seePass() {
        this.passToggle = !this.passToggle;
      }
      proccessForm(user, pass) {
        return {username: user, password: pass}
      }
      createSession(e) {
        var response = e.detail.response

        if(response.msg === "ok") sessionStorage.setItem('session', true)
        else sessionStorage.setItem('session', false)
      }
      validateInputs(){
        this.$.inputUser.validate();
        this.$.inputPass.validate();
        if (this.$.inputUser.invalid || this.$.inputPass.invalid) {
          this.$.loginNotification.text = "Faltan datos"
          this.$.loginNotification.open();
          return false
        }
        return true;
      }

    }

    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>