<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../custom-style/materialize.html">

<dom-module id="login-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <iron-ajax
      id="sign-in"
      method="post"      
      url=""
      handle-as="json"
      on-response="handleResponse"
      on-error="handleErrorResponse"
      body='{{formBody}}'
      loading="{{loading}}">
    </iron-ajax> -->
    <paper-card elevation="2" animated-shadow="true" class="center-center">
        <div class="card-header center-align">
          <h4>Ingrese a su cuenta</h4>
        </div>
        <div class="card-content">
          <form>
            <paper-input id="inputUser" label="Usuario" required auto-validate error-message="Usuario inválido" value="{{appUser}}">
              <iron-icon icon="social:person" slot="prefix"></iron-icon>
              <iron-icon slot="suffix" icon="clear" on-click="__clearUser"></iron-icon>
            </paper-input>
            <paper-input id="inputPass" label="Contraseña" type="{{passType(passToggle)}}" required auto-validate error-message="Contraseña inválida" value="{{appPass}}">
              <iron-icon icon="icons:lock-outline" slot="prefix"></iron-icon>
              <iron-icon slot="suffix" icon="visibility" id="seepass"></iron-icon>
              <iron-icon slot="suffix" icon="clear" on-click="__clearPass"></iron-icon>
            </paper-input>
            <paper-checkbox class="save-session" checked>Recuerdame</paper-checkbox>
            <paper-button raised class="button-login center-align" id="send"><iron-icon icon="send"></iron-icon> Iniciar Sesión</paper-button>
            <paper-button raised class="button-login center-align" id=""><iron-icon icon="vaadin:google-plus"></iron-icon> Iniciar con Google</paper-button>
            <paper-button raised class="button-login center-align" id=""><iron-icon icon="vaadin:facebook"></iron-icon> Iniciarcon Facebook</paper-button>
          </form>
        </div>
        <template is="dom-if" if="{{loading}}">
          <paper-progress indeterminate></paper-progress>
        </template>
        <div class="card-actions" id="containerNotif">
          <paper-toast id="loginNotification" class="fit-bottom" duration="2000"></paper-toast>
        </div>
      </paper-card>
    <template is="dom-if" if="{{loading}}">
      <paper-progress indeterminate></paper-progress>
    </template>
    
  </template>
  <script>
    class LoginComponent extends Polymer.Element {
      static get is() {return 'login-component'};
      static get properties() {
        return {
          formBody: {
            type: Object,
            computed: 'proccessForm(appUser, appPass)'
          }
          
        }
      }
      static get observers() {
        return [

        ]
      }
      constructor() {
        super();
        this.__enviarFormulario = this.__enviarFormulario.bind(this);
        this.__seePass = this.__seePass.bind(this);
        this.passToggle = true;
      }
      ready() {
        super.ready();
        this.$.loginNotification.fitInto = this.$.containerNotif;
        this.$.menu.addEventListener('click', () => {
          this.$.sidebar.toggle();
        });
        this.$.send.addEventListener('click', e => this.__enviarFormulario(e));
        this.$.seepass.addEventListener('mousedown', e => this.__seePass(e))
        this.$.seepass.addEventListener('mouseup', e => this.__seePass(e))
      }
      connectedCallback() {
        super.connectedCallback();
        //connectedCallback content
      }
      passType(type) {
        if (type) return 'password';
        return 'text'
      }
      __clearUser() {
        this.appUser = ""
      }
      __clearPass() {
        this.appPass = "";
      }
      __enviarFormulario() {
        if(this.validateInputs() && (!this.res || this.res.warning)) {
          this.$.peticion.generateRequest();
        }
      }
      __seePass() {
        this.passToggle = !this.passToggle;
      }
      proccessForm(user, pass) {
        return {username: user, password: pass}
      }
      validateInputs(){
        this.$.inputUser.validate();
        this.$.inputPass.validate();
        if (this.$.inputUser.invalid || this.$.inputPass.invalid) {
          this.$.loginNotification.text = "Faltan datos"
          this.$.loginNotification.open();
          return false
        }
        return true;
      }

    }

    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>